<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoCurrencyCharts</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="shortcut icon" href="%% url_for('static', filename='images/favicon.ico') %%">
</head>
<body>

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
        {
            "symbols": [
            {
                "title": "标普500",
                "proName": "INDEX:SPX"
            },
            {
                "description": "道琼斯指数",
                "proName": "DJ:DJI"
            },
            {
                "description": "比特币",
                "proName": "COINBASE:BTCUSD"
            },
            {
                "description": "以太币",
                "proName": "COINBASE:ETHUSD"
            },
            {
                "description": "瑞波币",
                "proName": "KRAKEN:XRPUSD"
            }
        ],
            "locale": "zh_CN",
            "linkPageTemplate": "https://cryptocurrencycharts.herokuapp.com/chart"
        }
    </script>
</div>
<!-- TradingView Widget END -->

    <div id="content">
        <ul class="nav nav-pills">
            <li><a href="/#/coin">虚拟货币</a></li>
            <li><a href="/#/exchange">交易所</a></li>
            <li><a href="/stocks">股票</a></li>
            <li><a href="/chart">图表</a></li>
        </ul>
    </div>
    {% block contentblock %}

    {% endblock %}
<script src="%% url_for('static', filename='js/main.js') %%"></script>
<script>
    addLoadEvent(addActive)
    if (window.setSize){
        addLoadEvent(setSize)
    }
    if (window.setHeight) {
        addLoadEvent(setHeight)
    }
</script>
</body>
</html>